<main>
  <section class="profile-slidebar">
    <h1>Профиль</h1>
    <img src="Background-image.jpg" alt="Background image" />

    @if (currentUser) {
    <h2>Привет, {{ currentUser.username }}!</h2>
    <p>{{ currentUser.description || 'Добавьте описание профиля.' }}</p>
    } @else {
    <p>Загрузка данных профиля...</p>
    }

    <section></section>
  </section>

  <section class="profile-stats">
    <h1>Статистика</h1>
    <table class="profile-stats__stats-table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Последний месяц</th>
          <th scope="col">Всё время</th>
        </tr>
      </thead>
      <tbody>
        @if (isLoadingStats) {
        <tr>
          <td>Загрузка статистики...</td>
        </tr>
        } @else if (stats.length > 0) {
        @for (statRow of stats; track statRow.label) {
        <tr>
          <th scope="row">{{ statRow.label }}</th>
          <td>{{ statRow.lastMonth }}</td>
          <td>{{ statRow.allTime }}</td>
        </tr>
        }
        } @else {
        <tr>
          <td>Статистика отсутствует</td>
        </tr>
        }
      </tbody>
    </table>
    <section></section>
  </section>
</main>