<!-- <div class="menu">
    @if(t) {
        <div class="menu__content">
            @for (buttonContent of buttonsContent; track buttonContent) {
                <button (click)="navigate(buttonContent.path)">{{ buttonContent.text }}</button>
            }
        </div>
        <button class="menu__open" (click)="t=!t"><img src="left-arrow.svg"></button>
    } @else {
        <button class="menu__close" (click)="t=!t"><img src="rigth-arrow.svg"></button>
    }
</div> -->

<div class="menu">
    @if(t) {
        <div class="menu__content">
            @if (isLoggedIn$ | async) {
                 <button (click)="logout()">Выйти</button>
            }

            @for (buttonContent of buttonsContent; track buttonContent) {
                 <button [routerLink]="[buttonContent.path]" (click)="t = false">{{ buttonContent.text }}</button>
            }
        </div>
        <button class="menu__open" (click)="t=!t"><img src="left-arrow.svg" alt="Open Menu"></button>
    } @else {
        <button class="menu__close" (click)="t=!t"><img src="rigth-arrow.svg" alt="Close Menu"></button>
    }
</div>