<div class="register-page">
    <h1>Регистрация</h1>
    <form (ngSubmit)="onSubmit()" class="register-page__form">
        <div class="register-page__form-group">
            <label for="email" class="register-page__label">Email:</label>
            <input id="email" class="register-page__input" type="email" [(ngModel)]="email" name="email" required>
            </div>
        <div class="register-page__form-group">
            <label for="username" class="register-page__label">Имя пользователя:</label>
            <input id="username" class="register-page__input" type="text" [(ngModel)]="username" name="username" required>
            </div>
        <div class="register-page__form-group">
            <label for="password" class="register-page__label">Пароль:</label>
            <input type="password" class="register-page__input" id="password" [(ngModel)]="password" name="password" required>
            </div>
        <div class="register-page__form-group">
            <label for="confirmPassword" class="register-page__label">Подтвердите пароль:</label>
            <input type="password" class="register-page__input" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
                required>
            </div>
        <button type="submit" class="register-page__submit-btn">Зарегистрироваться</button>
        </form>
    <p>Зарегистрированы?<button (click)="login()" class="register-page__login-btn">Войти</button></p>
</div>