@use '../../../var.scss' as var;

:host {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
}

.map-container {
  width: 100%;
  height: 100%;
  border-radius: var.$border-radius;
  border: 5px solid var.$color-black;
}